.App {
  /*background-image:url("./img/androidcode.png");*/
  /*background-color: yellow;*/
  background-repeat: no-repeat;
  /*padding:100px;*/
  background-clip:padding-box;
  /*background-origin: content-box;*/
  /*border-color: red;*/
  /*border-style: double;*/
  /*border-left-width: 100px;*/
}

.App-logo {
  height: 40vmin;
}

.App-header {
  /*background-color: #282c34;*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.text-div{
  border-color: blueviolet;
  border-width: 1px;
  border-style: solid;
}
.test-p1{
  width: 100%;
  color:blueviolet;
  vertical-align:text-top;
  text-align:center;
  background-color: red;
  line-height: 300%;
}
/*img.bottom {vertical-align:text-bottom;}*/
.top {
  background-color: yellow;
  vertical-align:text-bottom;
  display: inline;
  height:200px;
  width:200px;
}